      @import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

      body {
          background-color: #0D1B2A;
          font-family: "Funnel Sans", sans-serif;
          color: #f8f9fa;
      }

      h2 {
          text-align: center;
      }

      h3 {
          text-align: center;
      }

      table {
          margin: auto;
          width: 90%;
          border-collapse: collapse;
          border-collapse: collapse;
          border: 3px solid black;
      }

      thead {
          border-collapse: collapse;
          border: 1px solid black;
      }

      th,
      td {
          padding: 8px;
          text-align: center;
          vertical-align: middle;
          padding: 10px;

      }

      tr:nth-child(even) {
          background-color: #415A77;
      }

      tr:nth-child(odd) {
          background-color: #778DA9;
      }

      th {
          background-color: #1B263B;
      }

      img {
          max-width: 100px;
      }

      .pagination ul {
          list-style: none;
          display: flex;
          justify-content: center;
          padding: 0;
      }

      .pagination li {
          margin: 5px;
      }

      .pagination li.active a {
          background: rgb(1, 4, 49);
          font-weight: bold;
      }

      .pagination a {
          text-decoration: none;
          padding: 8px 12px;
          background-color: #333;
          color: white;
          border-radius: 5px;
          transition: background 0.3s;
      }

      .pagination a:hover {
          background-color: #555;
      }

      .pagination .disabled a {
          pointer-events: none;
          background-color: #777;
          color: #ccc;
      }

      .pagination .disabled span {
          color: #777;
          cursor: not-allowed;
      }

      .container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 10px;
      }

      .right-container {
          flex-grow: 2;
      }

      .left-container {

          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: center;
          align-content: center;
          justify-content: center;
      }

      .left-container .searchBar {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          margin: 20px auto;
          border-radius: 5px;
          border: 1px solid #ccc;
      }

      .amount {
          margin: 20px auto;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          text-align: center;
      }

      .filter-button {
          display: block;
          margin: 30px auto;
      }